:root {
    --main-color:#9dfcc7;
    --main-color-a:#9dfcc722;
}

.navbar {
    padding-left: 10%;
    padding-right: 10%;
}

.navbar-brand {
    font-weight: 500;
}

.nav-logo {
    position: relative;
    -webkit-backface-visibility: hidden; /* webkit anti alias*/
    transition: .2s ease-in; /* as mouse leaves */
}
.nav-logo:hover {
    transform: rotate(-7.5deg) scale(110%);
    transition: .2s ease-out; /* as mouse enters */
}
.nav-brand-text {
    position: relative;
    text-decoration: none;
}
.nav-brand-text::before {
    content: '';
    background:var(--main-color-a);
    inset: 0;
    position: absolute;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s ease-in-out;
    z-index: 1;
}
.nav-brand-text:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

.nav-link {
    font-weight: 500;
    position: relative;
}
.nav-link:hover::before {
  transform: scaleX(85%);
}
.nav-link.active::after {
    opacity: 1;
}
@media(min-width: 575.5px) {
    .nav-link::before {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 2px;
        background-color: var(--main-color);
        bottom: 0;
        left: 0;
        transform: scaleX(0);
        transition: all .25s ease-in-out;
    }
    .nav-link::after {
        content: '';
        position: absolute;
        display: block;
        width: 85%;
        height: 2px;
        background-color: var(--main-color);
        bottom: 0;
        left: 50%;
        transform: translate(-50%); /* centers element */
        opacity: 0;
    }
}

.body-content {
    padding-left: 10%;
    padding-right: 10%;
}