<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %}</title>
    {% set active_page = active_page|default('index') -%}
    <link rel="icon" href="/static/assets/kj logo - thick mint.svg">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
{% set navigation_bar = [
    ('/', 'index', 'About Me'),
    ('/projects/', 'projects', 'My Projects'),
    ('/contact/', 'contact', 'Contact Me')
] -%}
<nav class="navbar navbar-expand-sm bg-dark py-2 py-lg-3" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/static/assets/kj logo - thick mint.svg" width=45 height=45 class="nav-logo d-inline-block align-top" alt="Home">
<!--            <span class="nav-brand-text">Kunal Jain</span>-->
        </a>
        <button class="navbar-toggler collapsed d-flex d-sm-none flex-column justify-content-around" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="toggler-icon top-bar"></span>
            <span class="toggler-icon mid-bar"></span>
            <span class="toggler-icon bot-bar"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <ul class="navbar-nav">
                {% for href, id, caption in navigation_bar %}
                <li><a{% if id==active_page %} class="nav-link active" {% else %} class = "nav-link" {% endif %} href="{{href|e}}">{{caption|e}}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>
<div class="body-content">
    {% block content %}
    {% endblock %}
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
</body>
</html>